#Proyecto final de CGIHC
#FI

#Librerias
Practica1/Practica1/glm/
Practica1/Practica1/include/
Practica1/Practica1/lib/
Practica1/Practica1/Debug/
Practica1/Debug

#Otros
Practica1/.vs
Practica1/Debug/Practica1.exe
Practica1/Debug/Practica1.ilk
Practica1/Debug/Practica1.pdb
*.obj
Practica1/Practica1/Practica1.vcxproj
